@charset "utf-8";

html {
    height: 100%;
    font-family: "Meiryo", sans-serif;
}

body {
    height: 100%;
}

button {
    border-radius: 5px;
    border: none;
    background: #3c4767;
}

.rounded-circle {
    border-radius: 50%;
}

/* header */
header{
    background:#3C4767;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#logo-wrapper,
#nav-items {
    padding: 0 40px;
}

.header-logo {
    cursor: pointer;
}

.header-img {
    display: block;
    width: 154px;
}

#user-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding: 20px 0;
}

#user-items > p {
    font-size: 14px;
}

#user-items > img {
    border-radius: 50%;
}

#menu-items {
    display: none;
    text-align:center;
    background: #fff;
    width: 270px;
    font-size: 18px;
    border: 1px solid #6c6c6c;
    line-height: 83px;
    position: relative;
}

.menu-item > a {
    display: block;
    color: #6c6c6c;
}

.menu-item:nth-child(1),
.menu-item:nth-child(2) {
    border-bottom: 1px solid #6c6c6c;
}

.menu-item:hover {
    display: block;
    background: #de563c;
}

.menu-item > a:hover {
    color: #fff;
}

.ac-open {
    display: inline-block;
    padding: 0 10px;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex-basis: 80%;
}

/* posts create */
#posts-create-wrapper {
    border-bottom: 5px solid #d7d7d7;
    box-sizing: border-box;
}

.form-wrapper {
    display: flex;
    padding: 21px 204px 12px 0;
}

.user-icon {
    display: flex;
    align-items: center;
    padding: 0 19px 0 17px;
}

.user-icon > img {
    border-radius: 50%;
}

.post-create {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 50vw;
    height: 5vw;
    border: none;
    outline: none;
    resize: none;
}

textarea::placeholder {
    color: #ebebeb;
}

/* timeline */
.timeline-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d7d7d7;
    box-sizing: border-box;
    color: #6c6c6c;
    padding: 30px 28px 14px 42px;
}

.user-items {
    display: flex;
}

.users-icon > img {
    border-radius: 50%;
}

.timeline-items {
    display: flex;
    flex-direction: column;
    padding-left: 26px;
}

.timeline-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 14px;
}

.post {
    padding-right: 132px;
    font-size: 18px;
}

.post > p {
    width: 56vw;
}

.timeline-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.button-items {
    padding-left: 12px;
}

.edit-button {
    padding-top: 5px;
    background: transparent;
    cursor: pointer;
}

.delete-button {
    width: 55px;
    height: 55px;
    background: url(../images/trash.png) no-repeat 0 0;
    cursor: pointer;
}

.delete-button:hover {
    background: url(../images/trash_h.png) no-repeat 0 0;
}

/* timeline edit modal */
.edit-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.modal {
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    text-align: center;
}

.fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
}

.edit-timeline-info {
    padding: 4px 0 10px 0;
}

.edit-form-items {
    display: flex;
    flex-direction: column;
}

label > .edit-post {
    font-family: "Meiryo", sans-serif;
    font-size: 18px;
    color: #6c6c6c;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

#submit-button {
    display: inline-block;
    padding: 14px 140px;
    background: #3c4767;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}

/* side-bar */
#side-bar{
    flex-basis: 20%;
    border-left: 1px solid #6C6C6C;
    box-sizing: border-box;
}

#confirm-wrapper {
    color: #6c6c6c;
    font-size: 14px;
    padding: 14px 0 24px 0;
    border-bottom: 1px solid #d7d7d7;
}

.confirm-items {
    padding-left: 14px;
    padding-right: 24px;
}

.follow-count {
    display: flex;
    justify-content: space-between;
    padding: 4px 0 8px 0;
}

.follow-count > p {
    line-height: 2.5;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.side-button {
    width: 138px;
    height: 43px;

}

.side-button > a {
    color: #fff;
}

#serch-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 33px;
    height: 100vh;
}

/* search content */
.search-form-wrapper {
    display: flex;
    padding: 28px 482px 24px 78px;
    border-bottom: 5px solid #d7d7d7;
}

.search-form-items {
    display: flex;
    align-items: center;
}

.search-form {
    width: 320px;
    height: 36px;
    border: 1px solid #707070;
    border-radius: 5px;
}

.search-button {
    color: #fff;
    width: 36px;
    height: 34px;
    margin-left: 12px;
}

.search-result-wrapper {
    padding: 28px 240px 14px 84px;
}

.search-list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.search-list-items {
    display: flex;
    align-items: center;
}

.search-username {
    color: #6c6c6c;
    font-size: 18px;
    padding-left: 14px;
}

.follow-button {
    width: 138px;
    height: 44px;
    color: #fff;
    cursor: pointer;
}

.btn-blue {
    background: #4b71cabf;
}

.btn-red {
    background: #e2563b;
}
