@charset "utf-8";

html {
    height: 100%;
    font-family: "Meiryo", sans-serif;
}

body {
    height: 100%;
}

/* header */
header{
    background:#3C4767;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#logo-wrapper,
#nav-items {
    padding: 0 40px;
}

.header-logo {
    cursor: pointer;
}

.header-img {
    display: block;
    width: 154px;
}

#user-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding: 20px 0;
}

#user-items > p {
    font-size: 14px;
}

#user-items > img {
    border-radius: 50%;
}

#menu-items {
    display: none;
    text-align:center;
    background: #fff;
    width: 270px;
    font-size: 18px;
    border: 1px solid #6c6c6c;
    line-height: 83px;
    position: relative;
}

.menu-item > a {
    display: block;
    color: #6c6c6c;
}

.menu-item:nth-child(1),
.menu-item:nth-child(2) {
    border-bottom: 1px solid #6c6c6c;
}

.menu-item:hover {
    display: block;
    background: #de563c;
}

.menu-item > a:hover {
    color: #fff;
}

.ac-open {
    display: inline-block;
    padding: 0 10px;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex-basis: 80%;
}

/* side-bar */
#side-bar{
    flex-basis: 20%;
    border-left: 1px solid #6C6C6C;
    box-sizing: border-box;
}

#confirm-wrapper {
    color: #6c6c6c;
    font-size: 14px;
    padding: 14px 0 24px 0;
    border-bottom: 1px solid #d7d7d7;
}

.confirm-items {
    padding-left: 14px;
    padding-right: 24px;
}

.follow-count {
    display: flex;
    justify-content: space-between;
    padding: 4px 0 8px 0;
}

.follow-count > p {
    line-height: 2.5;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 138px;
    height: 43px;
    border-radius: 5px;
    border: none;
    background: #3c4767;
}

button > a {
    color: #fff;
}

#serch-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 33px;
    height: 100vh;
}
