@charset "utf-8";

html {
    height: 100%;
    font-family: "Meiryo", sans-serif;
}

/* header */
header{
    background:#3C4767;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#logo-wrapper,
#nav-items {
    padding: 0 40px;
}

.header-logo {
    cursor: pointer;
}

.header-img {
    display: block;
    width: 154px;
}


#user-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding: 20px 0;
}

#user-items > p {
    font-size: 14px;
}

#user-items > img {
    border-radius: 50%;
}

#menu-items {
    display: none;
    text-align:center;
    background: #fff;
    width: 270px;
    font-size: 18px;
    border: 1px solid #6c6c6c;
    line-height: 83px;
    position: relative;
}

#menu-items.active {
}

.menu-item > a {
    display: block;
    color: #6c6c6c;
}

.menu-item:nth-child(1),
.menu-item:nth-child(2) {
    border-bottom: 1px solid #6c6c6c;
}

.menu-item:hover {
    display: block;
    background: #de563c;
}

.menu-item > a:hover {
    color: #fff;

}

.ac-open {
    display: inline-block;
    padding: 0 10px;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}
